<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义命名空间 -->
<mapper namespace="com.project.mapper.UserMapper">

    <!-- 定义查询所有用户的 SQL 语句-->
    <select id="listAll" resultType="com.project.entity.User">
        SELECT * FROM user;
    </select>



</mapper>
